.Footer {
  background: $main-light-color;
  padding: 20px;

  &-box {
    border: 1px solid $main-dark-color;
    display: flex;
    flex-direction: column;
    height: 100%;

    &-wrpr {
      display: flex;

      &-left {
        flex: 1;

        &-top {
          flex: 1;
          height: 50px;
          display: flex;
          border-bottom: 1px solid $main-dark-color;
          display: flex;
          align-items: center;

          &-title {
            padding: 0 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            text-transform: uppercase;
            font-family: $main-font-regular;
            color: $main-dark-color;
            font-size: 25px;
          }
          &-logo {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 35px;
            border-left: 1px solid $main-dark-color;
            & > a {
              text-decoration: none;
              font-family: $main-font-bold-italic;
              font-weight: bold;
              font-size: 30px;
              color: $main-dark-color;
              text-transform: uppercase;
            }
          }
        }
        &-info {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          font-family: $main-font-regular;
          height: 260px;

          &-container {

            & > h3 {
              font-size: 25px;
              margin-bottom: 20px;
            }
            & > ul {
              list-style: none;
              & > li {
                margin: 10px 0;
                & > a {
                  text-decoration: none;
                  color: $main-dark-color;
                }
              }
            }
          }
        }
      }

      &-right {
        width: 40%;
        border-left: 1px solid $main-dark-color;
        &-social {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 50px;
          border-bottom: 1px solid $main-dark-color;
          & > div {
            height: 100%;
            width: 100%;
          }
          & > a {
            padding: 0 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            border-left: 1px solid $main-dark-color;
            text-transform: uppercase;
            text-decoration: none;
            font-family: $main-font-regular;
            color: $main-dark-color;
            font-size: 25px;
          }
        }
        &-story {
          height: 260px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          padding: 20px;
          & > p {
            font-family: $main-font-regular;
            font-size: 20px;
          }
        }
      }
    }

    &-copyright {
      width: 100%;
      padding: 5px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      border-top: 1px solid $main-dark-color;
      & > h2 {
        font-family: $main-font-regular;
        font-size: 16px;
        letter-spacing: 3px;
      }
      & > a {
        cursor: pointer;
        margin-top: 5px;
        text-decoration: none;
        color: $main-dark-color;
        font-family: $main-font-light-italic;
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-lg) {
  .Footer-box-wrpr {
    &-left {
      &-top {
        &-title {
          font-size: 20px;
        }
        &-logo {
          padding: 0 25px;
          & > a {
            font-size: 25px;
          }
        }
      }
      &-info{
        padding: 25px;
        height: 200px;
        &-container {
          & > h3 {
            margin-bottom: 10px;
            font-size: 20px;
          }
          & > ul > li > a {
            font-size: 14px;
          }
        }
      }
    }
    &-right {
      &-social {
        & > a {
          padding: 0 10px;
          font-size: 20px;
        }
      }
      &-story {
        height: 200px;
        & > p {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  .Footer-box-wrpr {
    &-left {
      &-top {
        &-title {
          font-size: 20px;
        }
        &-logo {
          padding: 0 15px;
          & > a {
            font-size: 16px;
          }
        }
      }
      &-info{
        padding: 15px;
        &-container {
          & > h3 {
            margin-bottom: 5px;
            font-size: 16px;
          }
          & > ul > li > a {
            font-size: 12px;
          }
        }
      }
    }
    &-right {
      border: none;

      &-social {
        border-top:1px solid $main-dark-color ;
        & > a {
          border: none;
          padding: 0 5px;
          font-size: 16px;
        }
      }
      &-story {
        & > p {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .Footer-box-wrpr {
    flex-direction: column;
    &-left {
      &-top {
        &-title {
          font-size: 14px;
        }
        &-logo {
          flex: 1;
        }
      }
      &-info {
        padding: 0 5px;
        text-align: center;
      }
    }

    &-right {
      width: 100%;
      &-social {
        justify-content: center;
        & > div {
          display: none;
        }
        & > a {
          width: 100%;
          justify-content: center;
          align-items: center;
          &:nth-child(2) {
            border-right: 1px solid $main-dark-color;
          }
        }
      }
    }
  }
}