.LoginLink {
  padding: 0 10px;
  min-width: 90px;
  height: 100%;
  flex: 1;
  @include flex(center, center);
  border-right: 1px solid $rootStyleTypeColor;

  &-box {
    @include flex(center, center);
    flex-direction: column;
    text-align: center;

    & > a {
      @include setFontStyles($main-font-regular, $rootStyleTypeColor, 2.2rem);
      white-space: nowrap;

      &:hover ~ .LoginLink-box-line {
        width: 100%;
      }
    }
    &-line {
      margin-top: 5px;
      width: 0;
      height: 1px;
      background: $rootStyleTypeColor;
      transition: all 0.5s ease;
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .LoginLink {
    height: 40px;
    flex: 1;
    z-index: 1;
    border-left: 1px solid $rootStyleTypeColor;
    border-bottom: 1px solid $rootStyleTypeColor;
    &-box {
      &-line {
        display: none;
      }
    }
  }
}
