.FrameBoxImage {
  height: 100%;
  padding: 10px;
  position: relative;
  @include flex(center, center);

  &-line {
    position: absolute;
    width: 42rem;
    height: 42rem;
    border: 1px solid $main-color;
    transform: rotate(-15deg);
  }
  &-image {
    max-width: 38rem;
    max-height: 38rem;
  }
}
