.CartButton {
  padding: 0 15px;
  height: 100%;
  min-width: 90px;
  flex: 1;
  z-index: 1;
  @include flex(center, center);

  &-box {
    @include flex(center, center);
    flex-direction: column;

    & > button {
      background: none;
      border: none;
      @include flex(center, center);
      @include setFontStyles($main-font-regular, $rootStyleTypeColor, 2.2rem);

      &:hover~.CartButton-box-line {
        width: 100%;
      }
    }

    &-count {
      margin-left: 10px;
      padding: 5px;
      width: 30px;
      height: 30px;
      @include flex(center, center);
      border-radius: 50%;
      border: 1px solid $rootStyleTypeColor;
      @include setFontStyles($main-font-regular, $rootStyleTypeColor, 1.6rem);
    }

    &-line {
      margin-top: 5px;
      width: 0;
      height: 1px;
      background: $rootStyleTypeColor;
      transition: all 0.5s ease;
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  .CartButton-box-count {
    width: 25px;
    height: 25px;
    font-size: 14px;
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .CartButton {
    height: 40px;
    border-bottom: 1px solid $rootStyleTypeColor;
    &-box {
      flex: 1;
      &-count {
        width: 25px;
        height: 25px;
        font-size: 16px;
      }
      &-line {
        display: none;
      }
    }
  }
}