.Signin {
  min-height: 90vh;
  background: $rootStyleTypeBg;
  @include flex(flex-start, center);

  & > .container {
    margin: 50px 0;
    width: 100%;
    @include flex(center, center);
    flex-direction: column;

    & > .SunLogo {
      margin-top: 100px;
    }
  }
  &-box {
    padding: 10px;
    max-width: 700px;
    width: 100%;
    @include flex(center, center);
    flex-direction: column;
    text-align: center;
    &-title {
      margin-top: 30px;
      letter-spacing: 5px;
      @include setFontStyles($main-font-regular, $rootStyleTypeColor, 3rem);
    }
  }
  &-motivation {
    margin-top: 20rem;
    max-width: 1000px;
    padding: 2rem;
    text-align: center;
    & > p {
      @include setFontStyles($main-font-light, $rootStyleTypeColor, 2rem);
    }
  }
}

@media screen and(max-width: $breakpoint-sm) {
  .Signin-motivation {
        margin-top: 10rem;
  }
}