.FrameImage {
  position: relative;
  @include flex(center, center);
  border: 1px solid $main-color;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  max-width: 40rem;
  max-height: 60rem;
  & > img {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  &:hover .FrameImage-line {
    transform: translate(-50%, -50%) rotate(-35deg);
  }

  &-line {
    position: absolute;
    top: 75%;
    left: 35%;
    width: 700px;
    height: 1px;
    background: $main-color;
    transform: translate(-50%, -50%) rotate(35deg);
    transition: all 3s ease;
  }
}

@media screen and (max-width: $breakpoint-lg) {
  .FrameImage {
    &-line {
      width: 600px;
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .FrameImage {
    &-line {
      width: 500px;
    }
  }
}

@media screen and (max-width: $breakpoint-xsm) {
  .FrameImage {
    &-line {
      width: 300px;
    }
  }
}