.Signin {
  min-height: 90vh;
  background: $rootStyleTypeBg;
  @include flex(flex-start, center);

  & > .container {
    margin: 50px 0;
    width: 100%;
    @include flex(center, center);
    flex-direction: column;

    & > .SunLogo {
      margin-top: 100px;
    }
  }
  &-box {
    padding: 10px;
    max-width: 700px;
    width: 100%;
    @include flex(center, center);
    flex-direction: column;
    text-align: center;
    &-title {
      margin-top: 30px; 
      letter-spacing: 5px;
      @include setFontStyles($main-font-regular, $rootStyleTypeColor, 3rem);
    }
  }
}

@import './Login/Login.scss';
@import './Registration/Registration.scss';
@import './ResetPassword/ResetPassword.scss';
@import './ActivationEmail/ActivationEmail.scss';