.AboutTitle {
  min-height: 100vh;
  @include flex (center, center);

  &-header {
    width: 100%;
    height: 100%;
    padding: 10px;
    & > h2 {
      font-family: $main-font-bold-italic;
      font-size: 70px;
      & > span {
        font-family: $main-font-light-italic;
      }
    }
    &-description {
      margin-top: 50px;
      @include flex(center, flex-start);

      &-text {
        max-width: 400px;
        font-family: $main-font-regular;
        & > p {
          margin-bottom: 20px;
        }
      }

      &-image {
        margin: auto;
        justify-self: end;
        & > img {
          max-width: 300px;
          max-height: 300px;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
  &-imageBox {
    height: 100%;
    & > img {
      max-width: 400px;
      max-height: 400px;
    }
  }
}