.AboutTitle {
  @include flex (center, center);
  border-bottom: 1px solid $main-color;

  &-header {
    padding: 10px;

    &>h2 {
      @include setFontStyles($main-font-medium, $rootStyleTypeColor, 7rem);
      font-weight: 400;

      &>span {
        font-family: $main-font-semibold-italic;
        font-weight: 700;
      }
    }

    &-description {
      margin-top: 50px;
      @include flex(center, flex-start);

      &-text {
        max-width: 50%;

        & p {
          margin: 20px 0;
          @include setFontStyles($main-font-regular, $rootStyleTypeColor, 2rem);
        }
      }

      &-image {
        margin: auto;
        padding: 20px;

        &>img {
          max-width: 350px;
          max-height: 350px;
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  &-imageBox {
    padding: 10px;
    height: 100%;

    &>img {
      max-width: 500px;
      max-height: 500px;
      height: 100%;
      width: 100%;
    }
  }
}

@media screen and(max-width: $breakpoint-lg) {
  .AboutTitle {
    &-imageBox > img {
      max-width: 400px;
      max-height: 400px;
    }
  }
}

@media screen and(max-width: $breakpoint-md) {
  .AboutTitle {
    justify-content: flex-start;
    flex-direction: column;

    &-header {
      margin-top: 100px;
    }
  }
}

@media screen and(max-width: $breakpoint-sm) {
  .AboutTitle {
    &-header {
      &-description {
        margin-top: 20px;

        &-text {
          max-width: 100%;
        }

        &-image {
          display: none;
        }
      }
    }
  }
}