.Shop {
  position: relative;
  min-height: 100vh;
  background: $main-light-color;
  padding-top: 100px;
  & > div {
    padding: 0 20px;
  }
  &-box {
    margin-top: 50px;
    @include flex(flex-start,center);
    &-products {
      flex: 1;
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .Shop {
    &-box {
      margin-top: 20px;
      flex-direction: column;
    }
  }
}

@import './ShopCategories/ShopCategories.scss';
@import './ShopProducts/ShopProducts.scss';
@import './ShopTitle/ShopTitle.scss';
@import './ShopFilter/ShopFilter.scss';
@import './PageNavigator/PageNavigator.scss';