.AboutAngora {
  text-align: center;
  flex-direction: column;
  padding: 20px;

  & > div {
    margin: 70px 0;
  }

  & > .SunLogo {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  &-box {
    @include flex(center, space-between);
    
    & > .FrameImage {
      flex: 1;
    }

    &-description {
      flex: 2;
      text-align: right;
      max-width: 40%;
      z-index: 1;
      & > h2 {
        margin-bottom: 50px;
        @include setFontStyles($main-font-medium, $rootStyleTypeColor, 5rem);
      }
      & > p {
        margin-top: 20px;
        @include setFontStyles($main-font-regular, $rootStyleTypeColor, 2rem);
      }
    }
  }
}

@media screen and (max-width: $breakpoint-lg) {
  .AboutAngora {
    &-box {
      &-description {
        max-width: 50%;
        & > h2 {
          margin-bottom: 30px;
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  .AboutAngora {
    &-box {
      &-description {
        & > h2 {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .AboutAngora {
    &-box {
      flex-direction: column;
      &-description {
        max-width: 100%;
        text-align: center;
        & > h2 {
          margin-top: 40px;
          margin-bottom: 20px;
        }
      }
    }
  }
}