.SiteTitleNav {
  margin-top: 20px;
  width: 100%;

  & > ul {
    list-style: none;
    @include flex(center, flex-start);

    & > li {
      @include flex(center, center);
      & > a,
      & > p {
        text-decoration: none;
        text-transform: uppercase;
        font-family: $main-font-regular;
        color: $rootStyleTypeColor;
        letter-spacing: 2px;
        @include adaptivFont(20,12);
        white-space: nowrap;
      }
      & > span {
        margin: 0 5px;
        display: inline-block;
        color: $rootStyleTypeColor;
      }
      & > p {
        font-family: $main-font-bold;
      }
    }
  }
}

@media screen and(max-width: $breakpoint-md) {
  .SiteTitleNav {
    & > ul {
      padding: 0 5px;
    }
  }
}

@media screen and(max-width: $breakpoint-sm) {
  .SiteTitleNav {
    margin-top: 10px;
    & > ul {
      @include flex(center,center);
      flex-wrap: wrap;
      & > li {
        & > span {
          margin: 2px;
        }
      }
    }
  }
}
