.SiteTitleNav {
  margin-top: 20px;
  width: 100%;

  & > ul {
    list-style: none;
    @include flex(center, flex-start);

    & > li {
      @include flex(center, center);
      & > a,
      .fake-link {
        text-decoration: none;
        text-transform: uppercase;
        font-family: $main-font-regular;
        color: $rootStyleTypeColor;
        letter-spacing: 2px;
        font-size: 20px;
        opacity: 0.8;
      }
      & > span {
        display: inline-block;
        color: $rootStyleTypeColor;
        margin: 0 10px;
      }
      &:last-child {
        opacity: 1;
        font-weight: bold;
      }
    }
  }
}

@media screen and(max-width: $breakpoint-lg) {
  .SiteTitleNav {
    & > ul > li > a,
    .fake-link {
      font-size: 16px;
    }
  }
}

@media screen and(max-width: $breakpoint-md) {
  .SiteTitleNav {
    & > ul {
      padding: 0 5px;
      & > li > a,
      .fake-link {
        font-size: 14px;
      }
    }
  }
}

@media screen and(max-width: $breakpoint-md) {
  .SiteTitleNav {
    margin-top: 10px;
    & > ul {
      @include flex(center,flex-start);
      & > li {
        & > a,
        .fake-link {
          font-size: 16px;
        }
        & > span {
          margin: 2px;
        }
      }
    }
  }
  .fake-link {
    margin-left: 5px;
  }
}
