.LoginAndShopNavLink {
  flex: 1;
  z-index: 5;
  @include flex(center, space-evenly);
  &-shop {
    @include flex(center, center);

    &-box {
      @include flex(center, center);
      flex-direction: column;
      & > a {
        font-family: $main-font-light;
        font-size: 20px;
        color: $main-light-color;
        text-decoration: none;
        &:hover ~ .LoginAndShopNavLink-shop-box-line {
          width: 100%;
          background: $main-light-color;
        }
      }

      &-line {
        transition: all 0.5s ease;
        width: 0;
        height: 1px;
      }
    }
    &-count {
      width: 30px;
      height: 30px;
      margin-left: 10px;
      border: 1px solid $main-light-color;
      border-radius: 50%;
      @include flex(center, center);
      font-size: 15px;
      color: $main-light-color;
    }
  }

  &-login {
    @include flex(center, center);
    flex-direction: column;
    cursor: pointer;

    & > p {
      font-family: $main-font-light;
      font-size: 20px;
      color: $main-light-color;
      text-decoration: none;
      &:hover ~ .LoginAndShopNavLink-login-line {
        width: 100%;
        background: $main-light-color;
      }
    }

    &-line {
      transition: all 0.5s ease;
      width: 0;
      height: 1px;
    }
  }
}

@media screen and (max-width: $breakpoint-lg) {
  .LoginAndShopNavLink {
    &-shop-box {
      & > a {
        font-size: 16px;
        &:hover ~ .LoginAndShopNavLink-shop-box-line {
          background: $main-dark-color;
        }
      }
    }
    &-login {
      & > p {
        font-size: 16px;
        &:hover ~ .LoginAndShopNavLink-login-line {
          background: $main-dark-color;
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .LoginAndShopNavLink {
    flex: 5;
    width: 100%;
    &-shop {
      &-box {
        & > a {
          color: $main-light-color;
          font-size: 14px;
        }
      }
      &-count {
        width: 20px;
        height: 20px;
        font-size: 10px;
        border: 1px solid $main-light-color;
        color: $main-light-color;
      }
    }

    &-login {
      & > p {
        color: $main-light-color;
        font-size: 14px;
      }
    }
    height: 100%;
    border-right: 1px solid $main-light-color;
  }
}
