.Follow {
  background: $main-light-color;
  @include flex(center, center);

  &-box {
    width: 100%;
    height: 100%;
    position: relative;
    @include flex(center, center);
    flex-direction: column;
    padding: 60px 20px;

    & > h3 {
      text-align: center;
      @include setFontStyles($main-font-regular, $main-dark-color, 5rem);
      letter-spacing: 5px;
    }

    & > .FrameImage {
      margin-top: 20px;
    }

    & > p {
      z-index: 1;
      text-align: center;
      width: 300px;
      margin-top: 70px;
      @include setFontStyles($main-font-light, $main-dark-color, 2.2rem);
    }
    & > button {
      margin-right: 20px;
      position: absolute;
      right: 0;
      top: 55%;
    }
  }
}

@media screen and (max-width: $breakpoint-lg) {
  .Follow-box {

    & > img {
      max-height: 450px;
      max-width: 250px;
    }

    & > p {
      margin: 0;
    }

    &-line {
      top: 50%;
      left: 45%;
      width: 400px;
    }

    & > button {
      margin: 50px 0;
      position: static;
    }
  }
}