.CircleBtn {
  outline: none;
  max-width: 200px;
  width: 100%;
  height: 200px;
  border-radius: 50%;
  @include flex(center, center);
  flex-direction: column;
  transition: all 1s ease;
  z-index: 1;

  &:active,
  &:focus {
    outline: none;
  }

  & > a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: $main-font-medium;
    font-size: 25px;
    transition: all 1s ease;
    color: $main-light-color;
    margin-bottom: 5px;
    &:hover ~ .CircleBtn-line {
      background: $main-light-color;
      width: 70%;
    }
  }

  &-line {
    width: 0;
    height: 1px;
    background: $main-light-color;
    transition: all 0.5s ease-in;
  }

  &.blackStyle {
    background: none;
    border: 1px solid $main-light-color;
    &:hover {
      -webkit-box-shadow: 0px 0px 100px 11px rgba(169, 140, 127, 0.1);
      -moz-box-shadow: 0px 0px 100px 11px rgba(169, 140, 127, 0.1);
      box-shadow: 0px 0px 100px 11px rgba(169, 140, 127, 0.1);
    }
  }

  &.lightBtn {
    background: $main-color;
    border: 1px solid $main-color;
    &:hover {
      -webkit-box-shadow: 0px 0px 100px 11px rgba(169, 140, 127, 0.1);
      -moz-box-shadow: 0px 0px 100px 11px rgba(169, 140, 127, 0.1);
      box-shadow: 0px 0px 100px 11px rgba(169, 140, 127, 0.5);
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  .CircleBtn {
    max-width: 150px;
    height: 150px;

    & > a {
      font-size: 20px;
    }
  }
}
