:root {
  --rootStyleTypeColor: #e3e0de;
  --rootStyleTypeBg: #181818;
  --footerRootStyleTypeColor: #181818;
  --footerRootStyleTypeBg:#e3e0de;
}

// Basic import

@import "./fonts/font_face.scss";
@import "./variables.scss";
@import "./utility.scss";
@import "../components/UI/indexUI.scss";
@import "../components/pages/pages.scss";
@import '../components/formik/FormikControl.scss';

// Basic style and reset

html {
  font-size: 10px;
}

html,
body {
  cursor: none;
  overscroll-behavior-y: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $rootStyleTypeColor;
}

ul {
  list-style: none;
}

button,
input,
textarea {
  &:disabled {
    pointer-events: none;
  }
  &:active,
  &:focus {
    outline: none;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $rootStyleTypeColor;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);  
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
	background: $rootStyleTypeColor;
}

::-webkit-scrollbar-thumb {
	background: $main-color;
  border-radius: 10px;
}

#root {
  background: $rootStyleTypeBg;
}

section {
  min-height: 100vh;
}

@media screen and(max-width: $breakpoint-lg) {
  html {
    font-size: 9px;
  }
}

@media screen and(max-width: $breakpoint-md) {
  html {
    font-size: 8px;
  }
}

@media screen and(max-width: $breakpoint-sm) {
  html {
    font-size: 7px;
  }
}

@media screen and(max-width: $breakpoint-xsm) {
  html {
    font-size: 6px;
  }
}