// Color

$main-color: #a98c7f;
$main-light-color: #e3e0de;
$main-dark-color: #181818;

// Breakpoint

$breakpoint-xlg: 1400px;
$breakpoint-lg: 1200px;
$breakpoint-md: 1024px;
$breakpoint-sm: 768px;
$breakpoint-xsm: 380px;

// Font Family

$main-font-light: 'Cormorant Infant Light';
$main-font-light-italic: 'Cormorant Infant Light Italic';
$main-font-italic: 'Cormorant Infant Italic';
$main-font-regular: 'Cormorant Infant Regular';
$main-font-medium: 'Cormorant Infant Medium';
$main-font-medium-italic: 'Cormorant Infant Medium Italic';
$main-font-semibold: 'Cormorant Infant SemiBold';
$main-font-semibold-italic: 'Cormorant Infant SemiBold Italic';
$main-font-bold: 'Cormorant Infant Bold';
$main-font-bold-italic: 'Cormorant Infant Bold Italic';
$second-font-light: 'Mak Light';

