.Cursor {
  z-index: 99;
  position: fixed;
  pointer-events: none;
  border-radius: 50%;
  transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
  background: #fff;
  &.inner {
    background: $rootStyleTypeColor;
    z-index: 100;
    width: 10px;
    height: 10px;
  }
  &.outer {
    width: 30px;
    height: 30px;
    mix-blend-mode: difference;
  }
}