.Menu {
  height: 100%;
  flex: 2;
  border-right: 1px solid $rootStyleTypeColor;
  z-index: 2;
  
  & > ul {
    width: 100%;
    height: 100%;
    @include flex(center, flex-end);

    & > li {
      height: 100%;
      margin-right: 30px;
      @include flex(center, center);
      flex-direction: column;
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  .Menu {
    flex: 3;
    width: 100%;
    & > ul > li {
      margin-right: 10px;
    }
  }
}


@media screen and (max-width: $breakpoint-sm) {
  .Menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    @include flex(center, center);
    background: $rootStyleTypeColor;
    clip-path: circle(0px at 90% -10%);
    transition: all 1s ease-in-out;
    &.active {
      top: 0;
      bottom: 0;
      clip-path: circle(1500px at 90% -10%);
    }
    & > ul {
      justify-content: center;
      flex-direction: column;
      background: $rootStyleTypeBg;
      & > li {
        height: auto;
        margin: 30px 0;
      }
    }
  }
}
