.Shipping {
  min-height: 100vh;
  
  & > .container {
    padding: 100px 20px 20px 20px;
    @include flex(center, center);
  }
  
  &-details {
    flex: 2;
    width: 100%;
  }
  &-order {
    background: $main-dark-color;
    flex: 1;
  }
}

@media screen and(max-width: $breakpoint-sm) {
  .Shipping {
    & > .container {
      flex-direction: column
    }
  }  
}

@import './Order/Order.scss';
@import './ShippingFormControl/ShippingFormControl.scss';