.Shipping {
  min-height: 100vh;
  
  & > .container {
    padding: 100px 20px 20px 20px;
    @include flex(center, center);
  }
  
  &-details {
    flex: 2;
    width: 100%;
  }
  &-order {
    min-width: 50%;
    background: $main-dark-color;
    flex: 1;
  }
}

@import './Order/Order.scss';
@import './ShippingFormControl/ShippingFormControl.scss';