.Contact {
  position: relative;
  background: $rootStyleTypeBg;

  &>.container {
    padding-top: 100px;
    margin-bottom: 100px;
  }

  &-box {
    margin-top: 50px;
    padding: 0 20px;
    @include flex(center, center);

    &-info {
      flex: 1;
      @include flex(center, center);
      flex-direction: column;
      text-align: center;

      &>h2 {
        @include setFontStyles($main-font-medium-italic, $rootStyleTypeColor, 3rem);
      }

      &-list {
        margin: 10px;
        @include flex(center, space-between);
        flex-wrap: wrap;

        &>li {
          padding: 10px;
          flex: 1;
          @include flex(center, center);
          @include setFontStyles($main-font-medium, $rootStyleTypeColor, 1.6rem);
          letter-spacing: 1px;

          &>a {
            white-space: nowrap;
            margin-left: 5px;
          }
        }
      }
    }

    & > .FrameBoxImage {
      flex: 1;
    }
  }
}

@media screen and(max-width: $breakpoint-md) {
  .Contact {
    &-box {
      flex-direction: column;
      & > .FrameBoxImage {
        margin-top: 100px;
      }
    }
  }
}

@import './ContactForm/ContactForm.scss';