.Loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  text-align: center;
  @include flex(center, center);
  flex-direction: column;
  background: $rootStyleTypeBg;
  z-index: 10;

  & > .SunLogo {
    & > svg {
      animation: spin 5s linear infinite;
    }
  }
  &-title {
    width: 100%;
    margin-top: 20px;
    color: $rootStyleTypeColor;
    @include adaptivFont(80, 30);
    font-family: $main-font-light;
    font-weight: 100;
    letter-spacing: 20px;
  }
  & > p {
    margin-top: 40px;
    @include adaptivFont(30, 20);
    color: $rootStyleTypeColor;
    font-family: $main-font-light-italic;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and(max-width: $breakpoint-sm) {
  .Loader {
    &-title {
      letter-spacing: 5px;
    }
  }

  .Loader.load {
    transition: opacity 1s;
    &-enter {
      opacity: 0;
    }
    &-enter-active {
      opacity: 0.5;
    }
    &-enter-done {
      opacity: 1;
    }
    &-exit {
      opacity: 0.75;
    }
    &-exit-active {
      opacity: 0;
    }
    &-exit-done {
      opacity: 0;
    }
  }
}
