.SunLogo {
  text-align: center;
  color: $rootStyleTypeColor;
  font-family: $main-font-light;
  text-transform: uppercase;
  & > svg {
    font-size: 2.6rem;
  }
  &-header {
    font-size: 1.6rem;
    letter-spacing: 3px;
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .SunLogo {
    margin-bottom: 20px;
  }
}
