.SunLogo {
  text-align: center;
  color: $rootStyleTypeColor;
  font-family: $main-font-light;
  text-transform: uppercase;
  & > svg {
    @include adaptivFont(25,16);
  }
  &-header {
    @include adaptivFont(16,13);
    letter-spacing: 3px;
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .SunLogo {
    margin-bottom: 20px;
  }
}
