.ShopCategories {
  min-width: 300px;
  align-self: start;

  & > ul {
    list-style: none;
    padding: 10px;
    & > li {
      margin-bottom: 20px;
      & > a {
        @include setFontStyles($main-font-regular, $rootStyleTypeColor, 3rem);
        letter-spacing: 2px;
      }
    }
  }
}

@media screen and(max-width: $breakpoint-md) {
  .ShopCategories  {
    min-width: 200px;
    ul > li {
      margin-bottom: 10px;
    }
  }
}

@media screen and(max-width: $breakpoint-sm) {
  .ShopCategories  {
    width: 100%;
    ul {
      @include flex(center, space-between);
      flex-wrap: wrap;
      padding: 0;
      & > li {
        padding: 10px;
      } 
    }
  }
}