.ShopCategories {
  min-width: 300px;
  align-self: start;
  & > ul {
    list-style: none;
    padding: 10px;
    & > li {
      margin-bottom: 20px;
      & > a {
        text-decoration: none;
        font-family: $main-font-medium;
        font-size: 25px;
        letter-spacing: 2px;
      }
    }
  }
}
