.Footer {
  background: $footerRootStyleTypeBg;
  padding: 20px;
  &-box {
    @include flex(center, center);
    &-info {
      flex: 1;
      height: 100%;
      width: 100%;
      border: 1px solid $footerRootStyleTypeColor;
      border-bottom: none;
      &:last-child {
        border-left: none;
      }
      &-header {
        @include flex(center, center);
        border-bottom: 1px solid $footerRootStyleTypeColor;
        text-align: center;
        &-title {
          width: 100%;
          flex: 1;
          border-right: 1px solid $footerRootStyleTypeColor;
          & > p {
            padding: 10px;
            color: $footerRootStyleTypeColor;
            font-family: $main-font-medium;
            text-transform: uppercase;
            @include adaptivFont(16, 14);
            white-space: nowrap;
          }
        }
        &-logo {
          width: 100%;
          flex: 1;
          & > a {
            padding: 10px;
            color: $footerRootStyleTypeColor;
            font-family: $main-font-bold;
            text-transform: uppercase;
            @include adaptivFont(26, 18);
          }
        }
      }
      &-links {
        @include flex(center, center);
        min-height: 260px;
        &-container {
          flex: 1;
          padding: 15px;
          text-align: center;
          & > h3 {
            color: $footerRootStyleTypeColor;
            font-family: $main-font-medium;
            @include adaptivFont(18, 14);
            letter-spacing: 2px;
          }
          & > ul {
            margin-top: 15px;
            & > li {
              margin-top: 5px;
              & > a {
                white-space: nowrap;
                color: $footerRootStyleTypeColor;
                font-family: $main-font-medium;
                @include adaptivFont(16, 12);
                letter-spacing: 2px;
              }
            }
          }
        }
      }
      &-social {
        @include flex(center,center);
        border-bottom: 1px solid $footerRootStyleTypeColor;
        text-align: center;

        & > div {
          flex: 1;
        }
        & > a {
          flex: 2;
          padding: 10px;
          color: $footerRootStyleTypeColor;
          font-family: $main-font-bold;
          text-transform: uppercase;
          @include adaptivFont(16, 14);
          border-left: 1px solid $footerRootStyleTypeColor;
        }
      }

      &-story {
        padding: 10px;
        min-height: 260px;
        @include flex(center,center);
        & > p {
          letter-spacing: 2px;
          color: $footerRootStyleTypeColor;
          font-family: $main-font-medium-italic;
          @include adaptivFont(16, 14);
          text-align: center;
        }
      }
    }
  }

  &-copyright {
    padding: 10px 0;
    border: 1px solid $footerRootStyleTypeColor;
    @include flex(center, center);
    flex-direction: column;
    & > h2 {
      color: $footerRootStyleTypeColor;
      font-family: $main-font-bold;
      @include adaptivFont(20, 14);
    }
    & > a {
      margin-top: 5px;
      font-family: $main-font-italic;
      @include adaptivFont(16, 12);
      color: $footerRootStyleTypeColor;
    }
  }
}

@media screen and(max-width: $breakpoint-sm) {
  .Footer {
    &-box {
      flex-direction: column;
      &-info {
        &:last-child {
          border-left: 1px solid $footerRootStyleTypeColor;
        }
        &-story {
          padding: 20px;
          min-height: auto;
        }
        &-header {
          flex-direction: column-reverse;
          &-title {
            display: none;
          }
        }
        &-social {
          flex-wrap: wrap;
          & > div {
            display: none;
          }
          & > a:first-of-type {
            border-left: none;
          }
        }
        &-links {
          flex-wrap: wrap;
        }
      }
    }
  }
}