.Footer {
  background: $footerRootStyleTypeBg;
  padding: 20px;

  &-box {
    @include flex(center, center);

    &-info {
      height: 100%;
      width: 100%;
      flex: 1;
      border: 1px solid $footerRootStyleTypeColor;
      border-bottom: none;

      &:last-child {
        border-left: none;
      }

      &-header {
        @include flex(center, center);
        border-bottom: 1px solid $footerRootStyleTypeColor;
        text-align: center;

        &-title {
          width: 100%;
          flex: 1;
          border-right: 1px solid $footerRootStyleTypeColor;

          & > h5 {
            padding: 10px;
            flex: 1;
            @include setFontStyles($main-font-medium, $footerRootStyleTypeColor, 1.6rem);
            letter-spacing: 2px;
            text-transform: uppercase;
            white-space: nowrap;
          }
        }

        &-logo {
          width: 100%;
          flex: 1;

          & > a {
            padding: 10px;
            @include setFontStyles($main-font-semibold, $footerRootStyleTypeColor, 2.6rem);
            letter-spacing: 4px;
            text-transform: uppercase;
          }
        }
      }
      &-links {
        @include flex(center, center);
        min-height: 260px;

        &-container {
          flex: 1;
          padding: 15px;
          text-align: center;

          & > h3 {
            @include setFontStyles($main-font-medium, $footerRootStyleTypeColor, 2.1rem);
            letter-spacing: 2px;
          }

          & > ul {
            margin-top: 15px;

            & > li {
              margin-top: 10px;

              & > a {
                @include setFontStyles($main-font-medium, $footerRootStyleTypeColor, 1.6rem);
                letter-spacing: 1px;
                white-space: nowrap;
              }
            }
          }
        }
      }
      &-social {
        @include flex(center,center);
        border-bottom: 1px solid $footerRootStyleTypeColor;
        text-align: center;

        & > div {
          flex: 1;
        }

        & > a {
          flex: 2;
          padding: 10px;
          @include setFontStyles($main-font-medium, $footerRootStyleTypeColor, 1.6rem);
          text-transform: uppercase;
          border-left: 1px solid $footerRootStyleTypeColor;
        }
      }

      &-story {
        padding: 10px;
        min-height: 260px;
        @include flex(center,center);

        & > p {
          @include setFontStyles($main-font-medium-italic, $footerRootStyleTypeColor, 2rem);
          letter-spacing: 2px;
          text-align: center;
        }
      }
    }
  }

  &-copyright {
    padding: 10px 0;
    border: 1px solid $footerRootStyleTypeColor;
    @include flex(center, center);
    flex-direction: column;

    & > h2 {
      @include setFontStyles($main-font-medium, $footerRootStyleTypeColor, 2.2rem);
    }

    & > a {
      margin-top: 5px;
      @include setFontStyles($main-font-light-italic, $footerRootStyleTypeColor, 1.6rem);
    }
  }
}

@media screen and(max-width: $breakpoint-sm) {
  .Footer {
    &-box {
      flex-direction: column;
      &-info {
        &:last-child {
          border-left: 1px solid $footerRootStyleTypeColor;
        }
        &-story {
          padding: 20px;
          min-height: auto;
        }
        &-header {
          flex-direction: column-reverse;
          &-title {
            display: none;
          }
        }
        &-social {
          flex-wrap: wrap;
          & > div {
            display: none;
          }
          & > a:first-of-type {
            border-left: none;
          }
        }
        &-links {
          flex-wrap: wrap;
        }
      }
    }
  }
}