.MenuLogo {
  height: 100%;
  border-right: 1px solid $main-light-color;
  @include flex(center, center);
  padding: 0 20px;
  z-index: 5;

  & > a {
    text-decoration: none;
    font-family: $main-font-regular;
    font-size: 25px;
    text-transform: uppercase;
    color: $main-light-color;
  }
}

@media screen and (max-width: $breakpoint-lg) {
  .MenuLogo {
    & > a {
      font-size: 20px;
    }
  }
}
@media screen and (max-width: $breakpoint-md) {
  .MenuLogo {
    & > a {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .MenuLogo {
    padding: 0 5px;
    border-right: 1px solid $main-light-color;
    & > a {
      color: $main-light-color;
      font-size: 14px;
    }
  }
}