.ForgotPassword {
  min-height: 0;
  margin-top: 3rem;
  width: 100%;
  & > h2 {
    @include setFontStyles($main-font-regular, $rootStyleTypeColor, 3rem);
    letter-spacing: 3px;
  }
  & > p {
    margin-top: 3rem;
    @include setFontStyles($main-font-regular, $rootStyleTypeColor, 2rem);
    letter-spacing: 3px;
  }
}

@import './ForgotPasswordForm/ForgotPasswordForm.scss';