.Navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  
  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@import './MenuList/MenuList.scss';
@import './MenuLogo/MenuLogo.scss';