.LogoDescription {
  position: relative;
  padding: 40px;
  border: 1px solid $rootStyleTypeColor;
  border-radius: 50%;
  text-align: center;

  & > p {
    @include setFontStyles($main-font-light-italic, $rootStyleTypeColor, 1.6rem);
  }

  &-line {
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(65deg);
    width: 300px;
    height: 1px;
    background: $rootStyleTypeColor;
    animation: lineRotate 5s ease;
    transition: all 3s ease;
  }

  &:hover {
    .HomeHero-showcase-description-line {
      transform: rotate(165deg);
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  .LogoDescription {
    padding: 20px;
    max-width: 200px;
    &-line {
      width: 200px;
    }
  }
}
