.CartItem {
  width: 100%;
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-gap: 20px;
  border-bottom: 1px solid $rootStyleTypeColor;

  &-image {
    width: 100%;
    max-height: 250px;
    height: 100%;
    overflow: hidden;

    & > img {
      width: 100%;
      height: 100%;
      max-height: 400px;
      object-fit: cover;
    }
  }

  &-info {
    width: 100%;
    padding: 10px 0;
    @include flex(flex-start, center);
    flex-direction: column;

    & > h5 {
      font-family: $main-font-light;
      letter-spacing: 2px;
      font-weight: 100;
      color: $rootStyleTypeColor;
      font-size: 16px;
    }

    &-name {
      flex: 1;
      margin-top: 10px;
      @include flex(center, center);

      & > h4 {
        font-family: $main-font-regular;
        font-weight: 400;
        letter-spacing: 3px;
        color: $rootStyleTypeColor;
        font-size: 35px;
      }
    }

    &-descAndLikes {
      @include flex(center, space-between);
      width: 100%;

      & > div {
        @include flex(center, center);
        flex-direction: column;
        color: $rootStyleTypeColor;
        font-family: $main-font-light;

        & > p.title {
          color: $rootStyleTypeColor;
        }

        & > p {
          margin-top: 5px;
          color: $rootStyleTypeColor;
          font-size: 16px;
        }
      }
    }
  }

  &-qntDelAndPrice {
    align-self: center;
    justify-self: center;
    width: 100%;
    @include flex(center, space-between);
    flex-direction: column;

    &-qntDel {
      @include flex(center, space-around);
      padding: 10px;

      & > .RemoveBtn {
        margin-left: 10px;
      }
    }

    &-price {
      & > h5 {
        color: $rootStyleTypeColor;
        font-family: $main-font-medium;
        letter-spacing: 2px;
        font-size: 40px;

        & > span {
          font-size: 30px;
        }
      }
    }
  }
}

@media screen and(max-width: $breakpoint-md) {
  .CartItem {
    @include flex(center, center);
    flex-wrap: wrap;
    padding: 20px;
    &-image {
      max-width: 400px;
      max-height: 400px;
      & > img {
        object-fit: fill;
      }
    }
    &-info {
      & > h5 {
        font-size: 14px;
      }
      &-name {
        padding: 20px 0;
        & > h4 {
          font-size: 30px;
        }
      }
    }
    &-qntDelAndPrice {
      flex-direction: row;
      &-price {
        & > h5 {
          font-size: 30px;
        }

        & > span {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and(max-width: $breakpoint-sm) {
  .CartItem {
    padding: 10px 5px;
    &-image {
      max-width: 500px;
      & > img {
        max-width: 500px;
      }
    }
  }
} 