.ProductScreen {
  width: 100%;
  padding-top: 100px;
  min-height: 0;

  & > .container {
    padding: 20px;
    & > .SunLogo {
      display: none;
    }
  }

  &-box {
    margin-top: 30px;
    @include grid(360px);
    grid-gap: 2rem;

    &-image {
      flex: 1;
      height: 60rem;
    }

    &-info {
      padding: 10px;
      flex: 1;
      height: 60rem;
      align-self: flex-start;
      @include flex(center, stretch);
      flex-direction: column;
      border-top: 1px solid $rootStyleTypeColor;
      border-bottom: 1px solid $rootStyleTypeColor;

      &-details {
        justify-self: stretch;
        width: 100%;
        flex: 1;
        border-bottom: 1px solid $rootStyleTypeColor;
        @include flex(flex-start, space-evenly);
        flex-direction: column;

        &-categories {
          @include setFontStyles($main-font-light-italic, $rootStyleTypeColor, 2.2rem);
          margin-bottom: 5px;
        }
        &-name {
          letter-spacing: 5px;
          @include setFontStyles($main-font-bold, $rootStyleTypeColor, 3.5rem);
          margin-bottom: 5px;
        }

        &-description {
          @include setFontStyles($main-font-light, $rootStyleTypeColor, 2rem);
          margin-bottom: 5px;
        }

        &-price {
          @include setFontStyles($main-font-semibold, $rootStyleTypeColor, 3.5rem);
          margin-bottom: 5px;
        }
      }

      &-add {
        width: 100%;
        padding: 20px 0;
        border-bottom: 1px solid $rootStyleTypeColor;
        text-align: center;
        @include flex(center, space-between);
        flex-direction: column;

        &-container {
          width: 100%;
          @include flex(center, center);
          &-btn {
            @include flex(center, center);
            width: 100%;
          }
        }

        &-in-stock {
          width: 100%;
          & > p {
            @include setFontStyles($main-font-light-italic, $rootStyleTypeColor, 2.2rem);
          }
        }
      }

      &-footer {
        width: 100%;
        padding: 20px 0;
        @include flex(center, center);
        flex-direction: column;

        & > ul {
          @include flex(center, center);
          & > li {
            padding: 10px;
            text-align: center;
            & > a {
              @include setFontStyles($main-font-medium, $rootStyleTypeColor, 2rem);
              &.recommendation {
                font-weight: 600;
              }
            }
          }
        }
        & > p {
          padding: 10px;
          text-align: center;
          @include setFontStyles($main-font-medium-italic, $rootStyleTypeColor, 1.9rem);
        }
      }
    }
  }
}

@media screen and(max-width: $breakpoint-lg) {
  .ProductScreen {
    &-box {
      grid-gap: 10px;
      &-info {
        &-details {
          &-name {
            letter-spacing: 3px;
          }
        }
        &-footer {
          & > ul > li {
            padding: 5px;
          }
        }
      }
    }
  }
}

@media screen and(max-width: $breakpoint-md) {
  .ProductScreen {
    &-box {
      margin-top: 30px;
      &-image {
        max-width: 500px;
      }
    }
  }
}

@media screen and(max-width: $breakpoint-sm) {
  .ProductScreen {
    & > .container {
      & > .SunLogo {
        display: block;
      }
    }
    &-box {
      @include flex(center, center);
      flex-direction: column;

      &-info {
        &-add {
          &-container {
            &-btn {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}
