.RemoveBtn {
  display: inline-block;
  background: none;
  border: none;
  @include adaptivFont(25,20);
  color: $rootStyleTypeColor;
  transition: scale 0.5s ease;
  &:active,
  &:focus {
    outline: none;
  }
  &:active {
    transform: scale(1.2);
  }
}