.RemoveBtn {
  display: inline-block;
  background: none;
  border: none;
  transition: scale 0.5s ease;
  & > svg {
    @include setFontStyles($main-font-medium, $rootStyleTypeColor, 2.4rem);
  }

  &:active {
    transform: scale(1.2);
  }
}