.ShopTitle {
  width: 100%;

  &-title {
    @include flex(center, flex-start);

    & > h2 {
      text-transform: uppercase;
      @include setFontStyles($main-font-light, $rootStyleTypeColor, 8.5rem);
      font-weight: 200;
      letter-spacing: 15px;
    }
    & > p {
      @include setFontStyles($main-font-medium, $rootStyleTypeColor, 1.4rem);
      margin-top: 20px;
      align-self: flex-start;
    }
  }

  &-line {
    width: 100%;
    height: 1px;
    background: $rootStyleTypeColor;
  }
}

@media screen and(max-width: $breakpoint-md) {
  .ShopTitle {
    &-title {
      & > h2 {
        font-size: 6.5rem;
      }
      & > p {
        margin-top: 5px;
      }
    }
  }
}

@media screen and(max-width: $breakpoint-sm) {
  .ShopTitle {
    &-title {
      justify-content: center;
    }
  }
}
