@import './CartItem/CartItem.scss';

.Cart {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($main-dark-color, 0.5);
  z-index: 2;

  &-box {
    float: right;
    max-width: 60%;
    width: 100%;
    height: 100%;
    background: $rootStyleTypeBg;
    padding: 30px;
    @include flex(flex-start, center);
    flex-direction: column;
    &-header {
      width: 100%;
      border-bottom: 1px solid $rootStyleTypeColor;
      @include flex(center, space-between);
      & > h5 {
        color: $rootStyleTypeColor;
        font-family: $main-font-light;
        font-weight: 100;
        font-size: 50px;
        letter-spacing: 3px;
        display: flex;
        & > span {
          margin-left: 10px;
          font-family: $main-font-light;
          color: $rootStyleTypeColor;
          font-size: 20px;
        }
      }
      &-btn {
        align-self: flex-end;
        margin-bottom: 10px;
        position: relative;
        width: 28px;
        height: 28px;
        background: none;
        border: none;
        transition: all 0.5s ease;

        &:active,
        &:focus {
          outline: none;
        }
        &:active {
          transform: scale(1.2);
        }

        &-line {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: block;
          width: 100%;
          height: 2px;
          background: $rootStyleTypeColor;
          &:first-child {
            transform: translate(-50%, -50%) rotate(50deg);
          }
          &:last-child {
            transform: translate(-50%, -50%) rotate(-50deg);
          }
        }
      }
    }
    &-body {
      flex: 1;
      width: 100%;
      height: 100%;
      overflow: auto;
      text-align: center;
      &-empty {
        max-width: 90%;
        padding: 10px;
        font-family: $main-font-regular;
        color: $rootStyleTypeColor;
        @include adaptivFont(20, 14);
      }
    }
    &-footer {
      width: 100%;
      @include flex(center,center);
      &-to-shopping {
        min-width: 40%;
        & > a {
          text-decoration: none;
          color: $rootStyleTypeColor;
          font-family: $main-font-light;
          font-size: 24px;
          letter-spacing: 2px;
          @include flex(center, center);
          & > span {
            margin-left: 10px;
          }
        }
      }
      &-checkout {
        flex: 1;
        padding: 0 25px;
        width: 100%;
        &-subtotal {
          padding: 20px 0;
          @include flex(center, space-between);
          & > h5 {
            font-family: $main-font-light;
            font-size: 25px;
            font-weight: 400;
            color: $rootStyleTypeColor;
          }
          & > h6 {
            font-family: $main-font-regular;
            letter-spacing: 2px;
            font-size: 40px;
            color: $rootStyleTypeColor;
          } 
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  .Cart {
    &-box {
      padding: 20px;
      &-header {
        & > h5 {
          font-size: 30px;
          letter-spacing: 2px;
        }
        &-btn {
          width: 22px;
          height: 22px;
        }
      }
      &-footer {
        border-top: 1px solid $rootStyleTypeColor;
        flex-direction: column-reverse;
        &-to-shopping > a {
          min-width: 30%;
          font-size: 18px;
        }
        &-checkout {
          padding: 0 10px;
          &-subtotal {
            & > h5 {
              font-size: 20px;
            }
            & > h6 {
              font-size: 32px;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: $breakpoint-sm) {
  .Cart {
    &-box {
      max-width: 100%;
      &-footer {
        &-to-shopping > a {
          margin-top: 30px;
          min-width: 20%;
          font-size: 16px;
        }
        &-checkout {
          &-subtotal {
            & > h5 {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}