.Cart {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($main-dark-color, 0.5);
  z-index: 2;

  &-box {
    float: right;
    max-width: 60%;
    width: 100%;
    height: 100%;
    background: $rootStyleTypeBg;
    padding: 30px;
    @include flex(flex-start, center);
    flex-direction: column;

    &-header {
      width: 100%;
      border-bottom: 1px solid $rootStyleTypeColor;
      @include flex(center, space-between);

      & > h5 {
        display: flex;
        @include setFontStyles($main-font-light, $rootStyleTypeColor, 5rem);
        font-weight: 100;
        letter-spacing: 3px;

        & > span {
          margin-left: 10px;
          font-size: 2rem;
        }
      }

      &-btn {
        position: relative;
        margin-bottom: 10px;
        width: 28px;
        height: 28px;
        align-self: flex-end;
        background: none;
        border: none;
        transition: all 0.5s ease;

        &:active {
          transform: scale(1.2);
        }

        &-line {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: block;
          width: 100%;
          height: 2px;
          background: $rootStyleTypeColor;

          &:first-child {
            transform: translate(-50%, -50%) rotate(50deg);
          }
          &:last-child {
            transform: translate(-50%, -50%) rotate(-50deg);
          }
        }
      }
    }

    &-body {
      flex: 1;
      width: 100%;
      height: 100%;
      overflow: auto;
      text-align: center;

      &-empty {
        margin-top: 40px;
        max-width: 90%;
        padding: 10px;
        @include setFontStyles($main-font-regular, $rootStyleTypeColor, 2.2rem);
      }

    }
    &-footer {
      width: 100%;
      @include flex(center,center);

      &-to-shopping {
        min-width: 40%;

        & > a {
          @include flex(center, center);
          @include setFontStyles($main-font-light, $rootStyleTypeColor, 2.4rem);
          letter-spacing: 2px;

          & > span {
            margin-left: 10px;
          }
        }
      }
      &-checkout {
        flex: 1;
        padding: 0 25px;
        width: 100%;

        &-subtotal {
          padding: 20px 0;
          @include flex(center, space-between);

          & > h5 {
            @include setFontStyles($main-font-light, $rootStyleTypeColor, 2.5rem);
            font-weight: 400;
          }

          & > h6 {
            @include setFontStyles($main-font-regular, $rootStyleTypeColor, 4rem);
            letter-spacing: 2px;
          } 
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-md) {
  .Cart {
    &-box {
      padding: 20px;
      &-header {
        & > h5 {
          letter-spacing: 2px;
        }
        &-btn {
          width: 22px;
          height: 22px;
        }
      }
      &-footer {
        border-top: 1px solid $rootStyleTypeColor;
        flex-direction: column-reverse;
        &-to-shopping > a {
          min-width: 30%;
        }
        &-checkout {
          padding: 0 10px;
        }
      }
    }
  }
}

@media screen and(max-width: $breakpoint-sm) {
  .Cart {
    &-box {
      max-width: 100%;
      &-footer {
        &-to-shopping > a {
          margin-top: 30px;
          min-width: 20%;
        }
      }
    }
  }
}