.HomeHero {
  padding: 10px;
  @include flex(center, flex-start);
  flex-direction: column;

  & > .SunLogo {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  &-showcase {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    margin-bottom: 50px;

    &-window {
      @include flex(center, center);
      flex-direction: column;

      &-title {
        width: 600px;
        color: $main-light-color;
        text-transform: uppercase;
        font-family: $main-font-medium;
        letter-spacing: 3px;
        font-size: 40px;
        margin-bottom: 20px;
        text-align: center;
        letter-spacing: 10px;

        &.second {
          margin-top: 20px;
          font-size: 70px;
        }
        & > strong {
          font-size: 70px;
          display: block;
        }
      }

      &-image-box {
        position: relative;
        width: 400px;
        height: 500px;
        border: 1px solid $main-color;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        overflow: hidden;
        margin: 0 30px;
        -webkit-box-shadow: 2px 50px 74px 44px rgba(169, 140, 127, 0.14);
        -moz-box-shadow: 2px 50px 74px 44px rgba(169, 140, 127, 0.14);
        box-shadow: 2px 50px 74px 44px rgba(169, 140, 127, 0.14);
        animation: rotate 3s ease;

        & > img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  &-description {
    margin-bottom: 30px;
    font-family: $main-font-medium;
    width: 300px;
    text-align: center;
    font-size: 20px;
    color: $main-light-color;
  }
}

@keyframes lineRotate {
  from {
    transform: rotate(165deg);
  }
  to {
    transform: rotate(65deg);
  }
}

@media screen and (max-width: $breakpoint-md) {
  .HomeHero {
    &-showcase {
      &-window {
        &-title {
          width: 440px;
          font-size: 25px;
          & > strong {
            font-size: 40px;
          }
          &.second {
            font-size: 40px;
          }
        }
        &-image-box {
          width: 300px;
          height: 400px;
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .HomeHero {
    & > .SunLogo {
      margin-bottom: 20px;
    }

    &-showcase {
      display: flex;
      flex-direction: column;
      &-window {
        &-title {
          width: 100%;
          font-size: 25px;
          letter-spacing: 3px;
          & > strong {
            font-size: 30px;
          }
          &.second {
            font-size: 30px;
          }
        }
        &-image-box {
          width: 250px;
          height: 350px;
        }
      }
      & > button {
        margin-top: 40px;
      }
    }
    &-description {
      padding: 5px;
      font-size: 16px;
    }
  }
  .LogoDescription {
    display: none;
  }
}

@keyframes rotate {
  from {
    transform: rotate(15deg);
  }
  to {
    transform: rotate(0);
  }
}
