.form-control {
  margin-top: 30px;
  position: relative;
  width: 100%;

  & > input,
  & > textarea {
    display: block;
    width: 100%;
    padding: 10px 0;
    @include setFontStyles($main-font-medium, $rootStyleTypeColor, 2rem);
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid $rootStyleTypeColor;
    background: transparent;
    letter-spacing: 1px;

    &:focus ~ label,
    &.isNotEmpty ~ label {
      top: -30px;
      left: 0;
      font-size: 15px;
    }
  }

  & > label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    @include setFontStyles($main-font-regular, $rootStyleTypeColor, 2rem);
    letter-spacing: 2px;
    pointer-events: none;
    transition: 0.5s ease;
  }

  & p {
    min-height: 10px;
    display: block;
    text-align: left;
    @include setFontStyles($main-font-regular, $rootStyleTypeColor, 1.6rem);
    letter-spacing: 2px;
  }
  & > textarea {
    margin-top: 20px;
    height: 80px;
    resize: none;
  }
}
