.RectangleBtn {
  width: 100%;
  height: 50px;
  background: $main-color;
  border: none;
  color: $rootStyleTypeBg;
  font-family: $main-font-medium;
  @include adaptivFont(20,16);
  cursor: none;
  transition: all 0.25s ease-in;
  &:active,
  &:focus {
    outline: none;
  }
  &:disabled {
    pointer-events: none;
  }
  &:active {
    transform: scale(0.95);
  }
}