.TextLine {
  position: relative;
  margin-top: 40px;
  width: 100%;
  border-top: 1px solid $main-light-color;
  border-bottom: 1px solid $main-light-color;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  transform: translate3d(0, 0, 0);


  &-box {
    display: flex;
    align-items: center;
    justify-content: center;
    @include adaptivFont(25,16);
    text-transform: uppercase;
    color: $main-light-color;
    font-family: $main-font-medium;
    letter-spacing: 10px;
    line-height: 100%;
    margin-right: 10px;
    animation: textLine 10s linear infinite;

    & > svg {
      margin: 10px;
    }
  }
}

@keyframes textLine {
  0% {
    transform: translate(100,0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
