.ShippingFormControl {
  width: 100%;
  margin-bottom: 5rem;
  &-header {
    width: 100%;
    @include flex(center, flex-start);
    &-count {
      width: 4rem;
      height: 4rem;
      border: 1px solid $rootStyleTypeColor;
      border-radius: 50%;
      @include flex(center, center);

      & > h6 {
        @include setFontStyles($main-font-light, $rootStyleTypeColor, 2.4rem);
        font-weight: 300;
      }
    }
    &-title {
      margin: 0 2rem;
      @include setFontStyles($main-font-medium, $rootStyleTypeColor, 3.2rem);
      letter-spacing: 0.5rem;
    }
    &-btn {
      background: none;
      border: none;
      @include flex(flex-end, center);
      width: 4rem;
      height: 3rem;
      @include setFontStyles($main-font-bold, $rootStyleTypeColor, 2.3rem)
    }
  }
  &-body {
    padding: 2rem;
    height: 300px;
    opacity: 1;
    transition: height 0.8s ease, opacity 1s ease;
    & > h4 {
      margin: 1rem 0;
      @include setFontStyles($main-font-medium, $rootStyleTypeColor, 2rem);
    }
  }
  &-body.showForm {
    opacity: 0;
    height: 0;
  }
}