.CartItem {
  border-bottom: 1px solid $rootStyleTypeColor;
  @include flex(center, space-between);
  flex-wrap: wrap;

  &-image {
    margin: 20px 0;
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 17rem;
    max-height: 17rem;
  }

  &-info {
    flex: 1;
    width: 100%;
    margin: 20px 0;
    padding-left: 20px;
    height: 17rem;
    text-align: left;
    @include flex(flex-start, space-between);
    flex-direction: column;

    & > h5 {
      @include setFontStyles($main-font-medium, $rootStyleTypeColor, 1.8rem);
      font-weight: 100;
      letter-spacing: 2px;
    }
    &-name {
      
      & > a {
        @include setFontStyles($main-font-medium, $rootStyleTypeColor, 2.2rem);
        font-weight: bold;
        letter-spacing: 3px;
      }
    }

    &-descAndLikes {
      @include flex(center, space-between);

      & > div {
        @include flex(center,center);
        flex-direction: column;
        @include setFontStyles($main-font-medium, $rootStyleTypeColor, 1.8rem);

        & > p {
          white-space: nowrap;
        }
      }
    }
  }

  &-qntDelAndPrice{
    flex: 1;
    margin: 20px 0;
    @include flex(center, space-between);
    flex-direction: column;
    &-qntDel {
      @include flex(center, space-around);
    }
    &-price {
      @include setFontStyles($main-font-medium, $rootStyleTypeColor, 3rem);
      & > span {
        font-weight: 100;
      }
    }
  }
}

@media screen and(max-width: $breakpoint-sm) {
  .CartItem {
    justify-content: center;
  }
}