.CartItem {
  width: 100%;
  border-bottom: 1px solid $rootStyleTypeColor;
  @include grid(130px);
  grid-gap: 10px;
  padding: 2rem 1rem;

  &-image {
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 22rem;
    max-height: 22rem;
  }

  &-info {
    text-align: left;
    @include flex(flex-start, space-between);
    flex-direction: column;

    & > h5 {
      margin: 1rem 0; 
      @include setFontStyles($main-font-medium, $rootStyleTypeColor, 2.2rem);
      font-weight: 100;
      letter-spacing: 2px;
    }
    
    &-name {
      margin: 1rem 0; 
      & > a {
        @include setFontStyles($main-font-medium, $rootStyleTypeColor, 3rem);
        font-weight: bold;
        letter-spacing: 3px;
      }
    }

    &-descAndLikes {
      margin: 1rem 0; 
      width: 100%;
      @include flex(center, space-between);
      & > div {
        @include flex(center, space-between);
        flex-direction: column;
        @include setFontStyles($main-font-medium, $rootStyleTypeColor, 1.8rem);

        & > p {
          white-space: nowrap;
        }
      }
    }
  }

  &-qntDelAndPrice{
    @include flex(center, space-between);
    flex-direction: column;
    &-qntDel {
      @include flex(center, space-around);
    }
    &-price {
      @include setFontStyles($main-font-medium, $rootStyleTypeColor, 3.2rem);
      margin-bottom: 10px;
      & > span {
        font-weight: 100;
      }
    }
  }
}


@media screen and(max-width: $breakpoint-sm) {
  .CartItem {
    grid-template-columns: repeat(1, 1fr);
    &-image {
      justify-self: center;
      align-self: center;
      max-width: 40rem;
      max-height: 40rem;
    }
    &-info {
      width: 100%;
      margin-top: 10px;
      justify-self: center;
      align-self: center;
    }
    &-qntDelAndPrice {
      margin-top: 20px;
      flex-direction: row;
    &-qntDel {
      margin-bottom: 0;
    }
    &-price {
      margin-bottom: 0;
      & > span {
        font-weight: 100;
      }
    }
    }
  }
}