.Login {
  width: 100%;
  & > .SeparatingLine {
    margin: 15px 0;
  }
  &-links {
    margin-top: 4rem;
    width: 100%;
    @include flex(flex-start,center);
    flex-direction: column;
    & > a {
      margin: 20px 0;
      white-space: nowrap;
      text-align: left;
      letter-spacing: 3px;
      @include setFontStyles($main-font-light, $rootStyleTypeColor, 1.6rem);
    }
  }
}


@import "./LoginForm/LoginForm.scss";
