.ResetPassword {
  width: 100%;
  & > h2 {
    margin-top: 3rem;
    @include setFontStyles($main-font-regular, $rootStyleTypeColor, 3rem);
    letter-spacing: 3px;
  }
}

@import './ResetPasswordForm/ResetPasswordForm.scss';
@import './SuccessReset/SuccessReset.scss';