.Description {
  min-height: 100vh;
  position: relative;
  & > div {
    padding: 0 20px;
  }

  &-title {
    margin-top: 80px;
    font-size: 60px;
    font-family: $main-font-medium;
    color: $main-light-color;
          letter-spacing: 5px;
  }
  &-header {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    width: 100%;

    & > h3 {
      max-width: 600px;
      letter-spacing: 3px;
      font-family: $main-font-regular;
      font-size: 20px;
      color: $main-light-color;
    }
    &-mission {
      max-width: 600px;
      width: 100%;
      margin-top: 50px;
      text-align: center;
      color: $main-light-color;
      & > h3 {
        text-align: left;
        font-family: $main-font-regular;
        letter-spacing: 2px;
        font-size: 20px;
      }
      & > p {
        max-width: 300px;
        text-align: left;
        font-family: $main-font-light;
        margin-top: 10px;
        font-size: 14px;
      }
    }
  }
  &-image {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
      & .first  {
        margin-right: 50px;
        border: 1px solid $main-light-color;
        max-height: 200px;
        max-width: 300px;
        transform:rotate(-5deg);
        z-index: 1;
                        -webkit-box-shadow: 2px 50px 74px 44px rgba(169, 140, 127, 0.14);
        -moz-box-shadow: 2px 50px 74px 44px rgba(169, 140, 127, 0.14);
        box-shadow: 2px 50px 74px 44px rgba(169, 140, 127, 0.14);
      }
      & .second  {
        margin-right: 80px;
        border: 1px solid $main-light-color;
        max-height: 400px;
        max-width: 300px;
        transform: rotate(8deg);
                -webkit-box-shadow: 2px 50px 74px 44px rgba(169, 140, 127, 0.14);
        -moz-box-shadow: 2px 50px 74px 44px rgba(169, 140, 127, 0.14);
        box-shadow: 2px 50px 74px 44px rgba(169, 140, 127, 0.14);
    }
  }
}