.Description {
  min-height: 100vh;
  position: relative;

  & > div {
    padding: 20px 30px;
  }

  &-title {
    margin-top: 50px;
    @include setFontStyles($main-font-medium, $rootStyleTypeColor, 6rem);
    letter-spacing: 5px;
  }
  &-header {
    margin-top: 50px;
    @include flex(center, center);
    flex-direction: column;
    text-align: left;
    width: 100%;

    & > h3 {
      max-width: 600px;
      @include setFontStyles($main-font-regular, $rootStyleTypeColor, 2rem);
      letter-spacing: 3px;
    }

    &-mission {
      max-width: 600px;
      width: 100%;
      margin-top: 50px;
      text-align: center;

      & > h3 {
        text-align: left;
        @include setFontStyles($main-font-regular, $rootStyleTypeColor, 2rem);
        letter-spacing: 2px;
      }

      & > p {
        margin-top: 10px;
        max-width: 300px;
        text-align: left;
        @include setFontStyles($main-font-light, $rootStyleTypeColor, 1.6rem);
      }
    }
  }
  &-image {
    width: 100%;
    @include flex(flex-end, flex-end);
    margin-bottom: 40px;
    margin-right: 50px;
    
    & .first {
      border: 1px solid $main-light-color;
      max-height: 200px;
      max-width: 300px;
      object-fit: cover;
      transform: rotate(-5deg);
      -webkit-box-shadow: 2px 50px 74px 44px rgba(169, 140, 127, 0.14);
      -moz-box-shadow: 2px 50px 74px 44px rgba(169, 140, 127, 0.14);
      box-shadow: 2px 50px 74px 44px rgba(169, 140, 127, 0.14);
    }

    & .second {
      margin-right: 80px;
      border: 1px solid $main-light-color;
      max-height: 400px;
      max-width: 300px;
      transform: rotate(8deg);
      -webkit-box-shadow: 2px 50px 74px 44px rgba(169, 140, 127, 0.14);
      -moz-box-shadow: 2px 50px 74px 44px rgba(169, 140, 127, 0.14);
      box-shadow: 2px 50px 74px 44px rgba(169, 140, 127, 0.14);
    }
  }
}

@media screen and (max-width: $breakpoint-lg) {
  .Description {
    &-header {
      & > h3 {
        max-width: 400px;
      }
      &-mission {
        max-width: 400px;
        & > p {
          max-width: 250px;
        }
      }
    }
    &-image {
      .first {
        max-height: 150px;
        max-width: 250px;
      }
      .second {
        max-height: 300px;
        max-width: 200px;
      }
    }
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .Description {
    &-header {
      align-items: flex-start;
    }
    &-image {
      margin-top: 30px;
      justify-content: center;
      align-items: center;
      margin-right: 0;
      .first {
        max-height: 100px;
        max-width: 150px;
      }
      .second {
        margin-right: 0;
        max-height: 200px;
        max-width: 100px;
      }
    }
  }
}
