.ShopFilter {
  width: 100%;
  min-height: 60px;
  &-box {
    @include flex(center, space-between);
    padding: 10px;
    &-filter {
      @include flex(center,center);
      @include setFontStyles($main-font-regular, $rootStyleTypeColor, 2rem);
      & > svg {
        margin-left: 10px;
      }
    }
    &-sort {
      @include setFontStyles($main-font-regular, $rootStyleTypeColor, 2rem);
      @include flex(center,center);
      & > svg {
        margin-left: 10px;
      }
    }
  }
  &-line {
    width: 100%;
    height: 1px;
    background: $rootStyleTypeColor;
  }
}