.MenuLink {
  @include flex(center, center);

  & > a {
    @include setFontStyles($main-font-regular, $rootStyleTypeColor, 2.2rem);

    &:hover ~ .MenuLink-line {
      width: 100%;
    }
  }
  &-line {
    margin-top: 5px;
    width: 0;
    height: 1px;
    background: $rootStyleTypeColor;
    transition: width 0.7s ease;
  }
  &.active ~ .MenuLink-line {
    width: 100%;
  }
}


@media screen and (max-width: $breakpoint-sm) {
  .MenuLink {
    & > a {
      text-transform: uppercase;
      @include setFontStyles($main-font-medium-italic, $rootStyleTypeColor, 4rem)
    }
  }
}
