.Order {
  padding: 40px;
  width: 100%;

  &-cart {
    max-height: 50vh;
    overflow: auto;
    & .CartItem {
      padding: 1.5rem 0.5rem;
    
      &-image {
        max-width: 16rem;
        max-height: 16rem;
      }
    
      &-info {
        & > h5 {
          @include setFontStyles($main-font-medium, $rootStyleTypeColor, 1.7rem);
          font-weight: 100;
          letter-spacing: 2px;
        }
        
        &-name {
          & > a {
            @include setFontStyles($main-font-medium, $rootStyleTypeColor, 2rem);
            font-weight: bold;
            letter-spacing: 3px;
          }
        }
    
        &-descAndLikes {
          width: 100%;
          @include flex(center, space-between);
          & > div {
            @include flex(center, space-between);
            flex-direction: column;
            @include setFontStyles($main-font-medium, $rootStyleTypeColor, 1.8rem);
    
            & > p {
              white-space: nowrap;
            }
          }
        }
      }
    
      &-qntDelAndPrice{
        @include flex(center, space-between);
        flex-direction: column;
        &-qntDel {
          margin-bottom: 20px;
          @include flex(center, space-around);
        }
        &-price {
          @include setFontStyles($main-font-medium, $rootStyleTypeColor, 3rem);
          & > span {
            font-weight: 100;
          }
        }
      }
    }
  }

  &-title {
    padding: 20px 0;
    @include setFontStyle($main-font-light-italic, $main-light-color, 25, 16);
    letter-spacing: 3px;
    border-bottom: 1px solid $main-light-color;
  }
  
  &-total {
    @include flex(center, space-between);
    margin-top: 20px;
    padding: 30px 0;
    border-top: 1px solid $main-light-color;
    & > h5 {
      @include setFontStyle($main-font-light, $main-light-color, 20, 14);
      letter-spacing: 4px;
    }
    & > p {
      @include setFontStyle($main-font-bold, $main-light-color, 30, 16);
      letter-spacing: 4px;
    }
  }
}