.Order {
  padding: 40px;
  width: 100%;

  &-cart {
    min-width: 30vw;
    max-height: 50vh;
    overflow: auto;
  }

  &-title {
    padding: 20px 0;
    @include setFontStyle($main-font-light-italic, $main-light-color, 25, 16);
    letter-spacing: 3px;
    border-bottom: 1px solid $main-light-color;
  }
  
  &-total {
    @include flex(center, space-between);
    margin-top: 20px;
    padding: 30px 0;
    border-top: 1px solid $main-light-color;
    & > h5 {
      @include setFontStyle($main-font-light, $main-light-color, 20, 14);
      letter-spacing: 4px;
    }
    & > p {
      @include setFontStyle($main-font-bold, $main-light-color, 30, 16);
      letter-spacing: 4px;
    }
  }
}