.Registration {
  margin-top: 30px;
  width: 100%;
  & > button {
    margin-top: 30px;
  }
  & > .SeparatingLine {
    margin: 20px 0;
  }
  &-error {
    text-align: left;
    margin-top: 15px;
    color: $main-color;
    font-family: $main-font-regular;
    text-transform: uppercase;
  }
  & > a {
    align-self: center;
    letter-spacing: 3px;
    @include setFontStyles($main-font-light, $rootStyleTypeColor, 2rem);
    @include flex(center, center);
  }
  &-success {
    @include setFontStyles($main-font-light, $rootStyleTypeColor, 4rem);
    letter-spacing: 3px;
  }
}

@import './RegistrationForm/RegistrationForm.scss';