.TextPageIntro {
  position: relative;
  @include flex(center, center);
  
  & > h3 {
    color: $rootStyleTypeColor;
    font-family: $main-font-bold-italic;
    @include adaptivFont(20,16);
    text-transform: uppercase;
    
    &:hover ~ .TextPageIntro-line {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
  &-line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 150px;
    height: 1px;
    background: $rootStyleTypeColor;
    animation: line 4s ease;
    transition: all 3s ease;
  }
}

@media screen and(max-width: $breakpoint-sm) {
  .TextPageIntro {
    margin: 10px 0;
    &-line {
      width: 100px;
    }
  }
}


@keyframes line {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}