@font-face {
    font-family: 'Cormorant Infant Regular';
    src: url('./ComorantInfant/Regular/CormorantInfant-Regular.woff2') format('woff2'),
        url('./ComorantInfant/Regular/CormorantInfant-Regular.woff') format('woff'),
        url('./ComorantInfant/Regular/CormorantInfant-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Infant Light';
    src: url('./ComorantInfant/Light/CormorantInfant-Light.woff2') format('woff2'),
        url('./ComorantInfant/Light/CormorantInfant-Light.woff') format('woff'),
        url('./ComorantInfant/Light/CormorantInfant-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Infant Light Italic';
    src: url('./ComorantInfant/LightItalick/CormorantInfant-LightItalic.woff2') format('woff2'),
        url('./ComorantInfant/LightItalick/CormorantInfant-LightItalic.woff') format('woff'),
        url('./ComorantInfant/LightItalick/CormorantInfant-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Infant Italic';
    src: url('./ComorantInfant/Italick/CormorantInfant-Italic.woff2') format('woff2'),
        url('./ComorantInfant/Italick/CormorantInfant-Italic.woff') format('woff'),
        url('./ComorantInfant/Italick/CormorantInfant-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Infant Medium';
    src: url('./ComorantInfant/Medium/CormorantInfant-Medium.woff2') format('woff2'),
        url('./ComorantInfant/Medium/CormorantInfant-Medium.woff') format('woff'),
        url('./ComorantInfant/Medium/CormorantInfant-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cormorant Infant Medium Italic';
    src: url('./ComorantInfant/MediumItalic/CormorantInfant-MediumItalic.woff2') format('woff2'),
        url('./ComorantInfant/MediumItalic/CormorantInfant-MediumItalic.woff') format('woff'),
        url('./ComorantInfant/MediumItalic/CormorantInfant-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Infant SemiBold';
    src: url('./ComorantInfant/SemiBold/CormorantInfant-SemiBold.woff2') format('woff2'),
        url('./ComorantInfant/SemiBold/CormorantInfant-SemiBold.woff') format('woff'),
        url('./ComorantInfant/SemiBold/CormorantInfant-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Infant SemiBold Italic';
    src: url('./ComorantInfant/SemiBoldItalic/CormorantInfant-SemiBoldItalic.woff2') format('woff2'),
        url('./ComorantInfant/SemiBoldItalic/CormorantInfant-SemiBoldItalic.woff') format('woff'),
        url('./ComorantInfant/SemiBoldItalic/CormorantInfant-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Infant Bold';
    src: url('./ComorantInfant/Bold/CormorantInfant-Bold.woff2') format('woff2'),
        url('./ComorantInfant/Bold/CormorantInfant-Bold.woff') format('woff'),
        url('./ComorantInfant/Bold/CormorantInfant-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Infant BoldItalic';
    src: url('./ComorantInfant/BoldItalic/CormorantInfant-BoldItalic.woff2') format('woff2'),
        url('./ComorantInfant/BoldItalic/CormorantInfant-BoldItalic.woff') format('woff'),
        url('./ComorantInfant/BoldItalic/CormorantInfant-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Mak Light';
    src: url('./Mak/Mak-Light.woff2') format('woff2'),
        url('./Mak/Mak-Light.woff') format('woff'),
        url('./Mak/Mak-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}





