.PageNavigator {
  width: 100%;
  min-height: 60px;
  @include flex(center,center);
  margin-bottom: 50px;

  & > button {
    @include setFontStyles($main-font-regular, $rootStyleTypeColor, 2.2rem);
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    border-radius: 50%;

    &:hover {
      transform: scale(1.2);
    }
  }
  &-btn {
    border-radius: 50%;
    margin: 0 5px;
    &.current {
      color: $rootStyleTypeBg;
      background: $rootStyleTypeColor;
    }
  }
  &-arrow {
    background: transparent;
    @include setFontStyles($main-font-regular, $rootStyleTypeColor, 2.2rem);
    font-weight: 100;
    @include flex(center,center);
    margin: 10px;
  }
}