.PageNavigator {
  width: 100%;
  min-height: 60px;
  @include flex(center,center);
  margin-bottom: 50px;
  & > button {
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    border-radius: 50%;
    cursor: pointer;
    &:active,
    &:focus {
      outline: none;
    }
    &:hover {
      transform: scale(1.2);
    }
  }
  &-btn {
    font-family:$main-font-regular;
    font-size: 20px;
    border-radius: 50%;
    margin: 0 5px;
    &.current {
      color: $rootStyleTypeBg;
      background: $rootStyleTypeColor;
    }
  }
  &-arrow {
    background: transparent;
    font-size: 20px;
    color: $rootStyleTypeColor;
    @include flex(center,center);
    cursor: pointer;
    margin: 10px;
  }
}